.map-marker {
    width: 100px;
    background-color: var(--primary, white);
}

.marker-image {
    width: 100%; /* Make it take the full width of the container */
    height: 52px; /* Keep the height fixed if needed */
    object-fit: cover; /* Fill the area completely, may crop slightly */
}

.marker-label {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.2;
    padding: 4px;
    color: var(--on-primary, black);
    font-size: 12px;
    text-align: start;
}
