---
import "../styles/404.css";
---

<html lang="en">
    <head>
        <title>404 - Page not found</title>
    </head>
    <body
        style="font-family: sans-serif; text-align: center; padding: 4rem; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 2rem; height: 90vh;"
    >
        <h1>404 - Page not found</h1>
        <video
            autoplay
            muted
            loop
            playsinline
            style="width:100%; max-width:600px;"
        >
            <source src="/videos/totallynormal.mp4" type="video/mp4" />
            no rickroll for you :(
        </video>
        <div class="gobackbtn">
            <a href="/" class="gobackbtnlink">Go back home</a>
        </div>
    </body>
</html>
