---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";
import { Icon } from "astro-icon/components";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const projects = await getCollection("projects");

import Projects from "../components/Projects.astro";

import pfp from "../assets/pfp.png";
---

<!doctype html>
<html lang="en" style="visibility: hidden; background-color: #242424;">
    <head>
        <meta charset="UTF-8" />
        <link
            href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{SITE_TITLE}</title>
        <meta name="description" content={SITE_DESCRIPTION} />
        <link rel="icon" href="/favicon.ico" />
        <link rel="shortcut icon" href="/pfp.png" />
        <link rel="icon" type="image/png" href="/pfp.png" />
    </head>
    <body style={`margin:0;`}>
        <script>
            // Set up the background image

            const wallpaperNumber = 5;
            const randomIndex = Math.floor(Math.random() * wallpaperNumber) + 1;
            (document.getElementById("bg") as HTMLImageElement)!.src =
                `/wallpapers/${randomIndex}.webp`;

            // get the colors from the image

            const color_json = fetch("/data/wallpaper-colors.json")
                .then((response) => response.json())
                .then((data) => {
                    const colors = data[randomIndex.toString()].dark;
                    document.documentElement.style.setProperty(
                        "--primary",
                        colors.primary,
                    );
                    document.documentElement.style.setProperty(
                        "--secondary",
                        colors.secondary,
                    );
                    document.documentElement.style.setProperty(
                        "--tertiary",
                        colors.tertiary,
                    );
                    document.documentElement.style.setProperty(
                        "--on-primary",
                        colors.onPrimary,
                    );
                    document.documentElement.style.setProperty(
                        "--on-secondary",
                        colors.onSecondary,
                    );
                    document.documentElement.style.setProperty(
                        "--on-tertiary",
                        colors.onTertiary,
                    );
                    document.documentElement.style.setProperty(
                        "--background",
                        colors.background,
                    );
                    document.documentElement.style.setProperty(
                        "--on-background",
                        colors.onBackground,
                    );

                    document.documentElement.style.visibility = "visible";
                });
        </script>
        <div class="container">
            <div class="header">
                <div class="pfpcontainer">
                    <Image src={pfp} alt="Profile Picture" class="pfp" />
                </div>
                <div class="headercontent">
                    <div class="headertop">
                        <div><h1>MY NAME MAYBE</h1></div>
                        <div class="m3colors">
                            <div
                                class="color"
                                style={`background-color: var(--primary);`}
                            >
                            </div>
                            <div
                                class="color"
                                style={`background-color: var(--secondary);`}
                            >
                            </div>
                            <div
                                class="color"
                                style={`background-color: var(--tertiary);`}
                            >
                            </div>
                        </div>
                    </div>
                    <div class="headerbottom">
                        <a href="https://github.com/espcaa">
                            <Icon name="commit" class="icon" />
                        </a>
                        <a href="mailto:alice@hackclub.cc" class="email-link">
                            <Icon name="mail" class="icon" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="about">
                    <h2>About Me</h2>
                    <p>
                        This is a brief description about me. I am passionate
                        about technology, coding, and open-source projects. I
                        love to explore new ideas and collaborate with others in
                        the tech community.
                    </p>
                </div>
                <h2>My projects!</h2>
                <Projects />
            </div>
            <div class="bg">
                <img id="bg" class="bgimg" />
            </div>
        </div>
    </body>
</html>
